<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clsaa.janus.admin.dao.ApiDeployDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.clsaa.janus.admin.entity.po.ApiDeploy">
        <id column="id" property="id"/>
        <result column="api_id" property="apiId"/>
        <result column="environment_id" property="environmentId"/>
        <result column="version" property="version"/>
        <result column="description" property="description"/>
        <result column="ctime" property="ctime"/>
        <result column="cuser" property="cuser"/>
        <result column="mtime" property="mtime"/>
        <result column="muser" property="muser"/>
        <result column="status" property="status"/>
    </resultMap>
    <insert id="add">
        INSERT INTO `t_api_deploy` (`id`, `api_id`, `environment_id`, `snap_api_id`, `version`, `description`,
                                    `ctime`, `cuser`, `mtime`, `muser`, `status`)
        VALUES (#{id}, #{apiId}, #{environmentId}, #{snapApiId}, #{version}, #{description},
            current_timestamp, #{cuser}, current_timestamp, #{muser}, #{status});
    </insert>
    <update id="updateStatusByApiIdAndEnvId">
        UPDATE `t_api_deploy`
        SET
            `status` = #{statusTo},
            `mtime`  = current_timestamp,
            `muser`  = #{muser}
        WHERE `api_id` = #{apiId}
              AND `environment_id` = #{environmentId}
              AND `status` != #{statusTo}
    </update>
    <update id="update">
        UPDATE `t_api_deploy`
        SET
            `description` = #{description},
            `status`      = #{status},
            `mtime`       = current_timestamp,
            `muser`       = #{muser}
        WHERE `id` = #{id}
    </update>
    <select id="getPaginationCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `t_api_deploy`
        WHERE `api_id` = #{apiId}
        <if test="environmentId!=null">
            AND `environment_id` = #{environmentId}
        </if>
    </select>
    <select id="getPaginationList" resultMap="BaseResultMap">
        SELECT *
        FROM `t_api_deploy`
        WHERE `api_id` = #{apiId}
        <if test="environmentId!=null">
            AND `environment_id` = #{environmentId}
        </if>
        ORDER BY `ctime` ASC
        LIMIT #{rowOffset},#{pageSize}
    </select>
    <select id="getById" resultMap="BaseResultMap">
        SELECT *
        FROM `t_api_deploy`
        WHERE `id` = #{id}
    </select>
</mapper>
