<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clsaa.janus.admin.dao.ApiDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.clsaa.janus.admin.entity.po.Api">
        <id column="id" property="id"/>
        <result column="region_id" property="regionId"/>
        <result column="group_id" property="groupId"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="auth_type" property="authType"/>
        <result column="sign_method" property="signMethod"/>
        <result column="visibility" property="visibility"/>
        <result column="result_type" property="resultType"/>
        <result column="success_result_sample" property="successResultSample"/>
        <result column="fail_result_sample" property="failResultSample"/>
        <result column="ctime" property="ctime"/>
        <result column="cuser" property="cuser"/>
        <result column="mtime" property="mtime"/>
        <result column="muser" property="muser"/>
        <result column="status" property="status"/>
    </resultMap>

    <insert id="add">
        INSERT INTO `t_api` (`id`, `region_id`, `group_id`, `name`, `description`, `auth_type`,
                             `sign_method`, `visibility`, `result_type`, `success_result_sample`,
                             `fail_result_sample`, `ctime`, `cuser`, `mtime`, `muser`, `status`)
        VALUES (#{id}, #{regionId}, #{groupId}, #{name}, #{description}, #{authType},
                       #{signMethod}, #{visibility}, #{resultType}, #{successResultSample},
                       #{failResultSample}, current_timestamp, #{cuser}, current_timestamp, #{muser}, #{status});
    </insert>

    <delete id="delById">
        DELETE
        FROM `t_api`
        WHERE `id` = #{id}
    </delete>

    <update id="update">
        UPDATE `t_api`
        SET
            `region_id`             = #{regionId},
            `group_id`              = #{groupId},
            `name`                  = #{name},
            `description`           = #{description},
            `auth_type`             = #{authType},
            `sign_method`           = #{signMethod},
            `visibility`            = #{visibility},
            `result_type`           = #{resultType},
            `success_result_sample` = #{successResultSample},
            `fail_result_sample`    = #{failResultSample},
            `mtime`                 = current_timestamp,
            `muser`                 = #{muser},
            `status`                = #{status}
        WHERE `id` = #{id}
    </update>
    <select id="getById" resultMap="BaseResultMap">
        SELECT *
        FROM `t_api`
        WHERE `id` = #{id}
    </select>
    <select id="getPaginationCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `t_api`
        WHERE `region_id` = #{regionId}
        <if test="groupId!=null">
            AND `group_id` = #{groupId}
        </if>
        <if test="keyword!=null">
            AND `name` LIKE concat('%',#{keyword},'%')
        </if>
    </select>
    <select id="getPaginationList" resultMap="BaseResultMap">
        SELECT *
        FROM `t_api`
        WHERE `region_id` = #{regionId}
        <if test="groupId!=null">
            AND `group_id` = #{groupId}
        </if>
        <if test="keyword!=null">
            AND `name` LIKE concat('%',#{keyword},'%')
        </if>
        LIMIT #{rowOffset},#{pageSize}
    </select>

</mapper>
