<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clsaa.janus.admin.dao.ApiRuleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.clsaa.janus.admin.entity.po.ApiRule">
        <id column="id" property="id"/>
        <id column="api_id" property="apiId"/>
        <id column="rule_id" property="ruleId"/>
        <id column="environment_id" property="environmentId"/>
        <id column="type" property="type"/>
        <id column="ctime" property="ctime"/>
        <id column="cuser" property="cuser"/>
    </resultMap>
    <insert id="add">
        INSERT INTO t_api_rule (`id`, `api_id`, `rule_id`, `environment_id`, `type`, `ctime`, `cuser`)
        VALUES (#{id}, #{apiId}, #{ruleId}, #{environmentId}, #{type}, current_timestamp, #{cuser});
    </insert>

    <delete id="delByApiIdAndEnvIdAndType">
        DELETE
        FROM `t_api_rule`
        WHERE `api_id` = #{apiId}
              AND `environment_id` = #{environmentId}
              AND `type` = #{type}
    </delete>

    <select id="getByApiIdAndEnvIdAndType" resultMap="BaseResultMap">
        SELECT *
        FROM `t_api_rule`
        WHERE `api_id` = #{apiId}
              AND `environment_id` = #{environmentId}
              AND `type` = #{type}
    </select>
    <select id="getPaginationCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `t_api_rule`
        WHERE `rule_id` = #{ruleId}
    </select>
    <select id="getPaginationList" resultMap="BaseResultMap">
        SELECT *
        FROM `t_api_rule`
        WHERE `rule_id` = #{ruleId}
        ORDER BY `ctime` DESC
        LIMIT #{rowOffset}, #{pageSize}
    </select>

</mapper>
