<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clsaa.janus.admin.dao.AppDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.clsaa.janus.admin.entity.po.App">
        <id column="id" property="id"/>
        <result column="access_key" property="accessKey"/>
        <result column="access_secret" property="accessSecret"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="ctime" property="ctime"/>
        <result column="cuser" property="cuser"/>
        <result column="mtime" property="mtime"/>
        <result column="muser" property="muser"/>
    </resultMap>

    <insert id="add">
        INSERT INTO `t_app` (`id`, `access_key`, `access_secret`,
                             `name`, `description`, `ctime`, `cuser`, `mtime`, `muser`)
        VALUES (#{id}, #{accessKey}, #{accessSecret},
                #{name}, #{description}, current_timestamp, #{cuser}, current_timestamp, #{muser})
    </insert>

    <delete id="delById">
        DELETE
        FROM `t_app`
        WHERE `id` = #{id}
    </delete>

    <update id="update">
        UPDATE `t_app`
        SET
            `access_secret` = #{accessSecret},
            `name`          = #{name},
            `description`   = #{description},
            `mtime`         = current_timestamp,
            `muser`         = #{muser}
        WHERE `id` = #{id}
    </update>

    <select id="getById" resultMap="BaseResultMap">
        SELECT *
        FROM `t_app`
        WHERE `id` = #{id}
    </select>

    <select id="getPaginationCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `t_app`
        WHERE 1 = 1
        <if test="keyword!=null">
            AND `name` LIKE concat('%',#{keyword},'%')
        </if>
    </select>

    <select id="getPaginationList" resultMap="BaseResultMap">
        SELECT *
        FROM `t_app`
        WHERE 1 = 1
        <if test="keyword!=null">
            AND `name` LIKE concat('%',#{keyword},'%')
        </if>
        ORDER BY `ctime` ASC
        LIMIT #{rowOffset},#{pageSize}
    </select>

</mapper>
