<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clsaa.janus.admin.dao.GroupDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.clsaa.janus.admin.entity.po.Group">
        <id column="id" property="id"/>
        <result column="region_id" property="regionId"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="sub_domain" property="subDomain"/>
        <result column="traffic_limit" property="trafficLimit"/>
        <result column="ctime" property="ctime"/>
        <result column="cuser" property="cuser"/>
        <result column="mtime" property="mtime"/>
        <result column="muser" property="muser"/>
    </resultMap>

    <insert id="add">
        INSERT INTO `t_group` (`id`, `region_id`, `name`, `description`, `sub_domain`, `traffic_limit`,
                               `ctime`, `cuser`, `mtime`, `muser`)
        VALUES (#{id}, #{regionId}, #{name}, #{description}, #{subDomain}, #{trafficLimit},
                current_timestamp, #{cuser}, current_timestamp, #{muser});
    </insert>

    <delete id="delById">
        delete
        from `t_group`
        where `id` = #{id}
    </delete>

    <update id="update">
        update `t_group`
        set `name`          = #{name},
            `description`   = #{description},
            `sub_domain`    = #{subDomain},
            `traffic_limit` = #{trafficLimit},
            `mtime`         = current_timestamp,
            `muser`         = #{muser}
        where `id` = #{id}
    </update>

    <select id="getById" resultMap="BaseResultMap">
        select *
        from `t_group`
        where `id` = #{id}
    </select>

    <select id="getByName" resultMap="BaseResultMap">
        select *
        from `t_group`
        where `name` = #{name}
    </select>

    <select id="getPaginationCount" resultType="java.lang.Integer">
        select count(*)
        from `t_group`
        where `region_id` = #{regionId}
        <if test="keyword!=null and keyword!=''">
            `name` like concat(#{keyword},'%')
        </if>
    </select>

    <select id="getPaginationList" resultMap="BaseResultMap">
        select *
        from `t_group`
        where `region_id` = #{regionId}
        <if test="keyword!=null and keyword!=''">
            `name` like concat(#{keyword},'%')
        </if>
        order by `ctime` desc
        limit #{rowOffset},#{pageSize}
    </select>
</mapper>
