<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clsaa.janus.admin.dao.IpStrategyItemDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.clsaa.janus.admin.entity.po.IpStrategyItem">
        <id column="id" property="id"/>
        <result column="ip_strategy_id" property="ipStrategyId"/>
        <result column="ip_segment" property="ipSegment"/>
        <result column="ctime" property="ctime"/>
        <result column="cuser" property="cuser"/>
    </resultMap>

</mapper>
