<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clsaa.janus.admin.dao.ServiceConstParamDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.clsaa.janus.admin.entity.po.ServiceConstParam">
        <id column="id" property="id"/>
        <result column="api_id" property="apiId"/>
        <result column="name" property="name"/>
        <result column="value" property="value"/>
        <result column="location" property="location"/>
        <result column="description" property="description"/>
        <result column="sort" property="sort"/>
    </resultMap>
    <insert id="addBatch">
        INSERT INTO `t_service_const_param` (`id`, `api_id`, `name`, `value`, `location`, `description`, `sort`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.apiId}, #{item.name}, #{item.value},
            #{item.location}, #{item.description}, #{item.sort})
        </foreach>
    </insert>
    <delete id="delByApiId">
        delete
        from `t_service_const_param`
        where `api_id` = #{apiId}
    </delete>
    <select id="getListByApiId" resultMap="BaseResultMap">
        select *
        from `t_service_const_param`
        where `api_id` = #{apiId}
        order by `sort` asc
    </select>

</mapper>
