<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clsaa.janus.admin.dao.ServiceParamDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.clsaa.janus.admin.entity.po.ServiceParam">
        <id column="id" property="id"/>
        <result column="api_id" property="apiId"/>
        <result column="request_param_id" property="requestParamId"/>
        <result column="name" property="name"/>
        <result column="location" property="location"/>
    </resultMap>
    <insert id="addBatch">
        INSERT INTO `t_service_param` (`id`, `api_id`, `request_param_id`, `name`, `location`, `sort`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.apiId}, #{item.requestParamId}, #{item.name}, #{item.location}, #{item.sort})
        </foreach>
    </insert>
    <delete id="delByApiId">
        delete
        from `t_service_param`
        where `api_id` = #{apiId}
    </delete>
    <select id="getListByApiId" resultMap="BaseResultMap">
        select *
        from `t_service_param`
        where `api_id` = #{apiId}
        order by `sort` asc
    </select>

</mapper>
