<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clsaa.janus.admin.dao.SnapServiceErrorCodeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.clsaa.janus.admin.entity.po.SnapServiceErrorCode">
        <id column="id" property="id"/>
        <result column="snap_api_id" property="snapApiId"/>
        <result column="code" property="code"/>
        <result column="message" property="message"/>
        <result column="description" property="description"/>
        <result column="sort" property="sort"/>
    </resultMap>
    <insert id="addBatch">
        INSERT INTO `t_snap_service_error_code` (`id`, `snap_api_id`, `code`, `message`, `description`, `sort`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.snapApiId}, #{item.code}, #{item.message},#{item.description}, #{item.sort})
        </foreach>
    </insert>

    <select id="getListBySnapApiId" resultMap="BaseResultMap">
        select *
        from `t_snap_service_error_code`
        where `snap_api_id` = #{snapApiId}
        order by `sort` asc
    </select>
</mapper>
