<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clsaa.janus.admin.dao.SnapServiceParamDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.clsaa.janus.admin.entity.po.SnapServiceParam">
        <id column="id" property="id"/>
        <result column="snap_api_id" property="snapApiId"/>
        <result column="request_param_id" property="requestParamId"/>
        <result column="name" property="name"/>
        <result column="location" property="location"/>
    </resultMap>
    <insert id="addBatch">
        INSERT INTO `t_snap_service_param` (`id`, `snap_api_id`, `request_param_id`, `name`, `location`, `sort`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.snapApiId}, #{item.requestParamId}, #{item.name}, #{item.location}, #{item.sort})
        </foreach>
    </insert>
    <select id="getListBySnapApiId" resultMap="BaseResultMap">
        select *
        from `t_snap_service_param`
        where `snap_api_id` = #{snapApiId}
        order by `sort` asc
    </select>
</mapper>
